@charset "EUC-KR";

html {
	background: url("/img/for.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
	width: 300px;
	margin: 0 auto;
	padding-top: 8rem;
	
}

#asyncNav {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#asyncNav li {
	display: inline-block;
	margin-right: 10px;
}

#asyncNav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#asyncNav a:hover {
	background-color: #ddd;
	color: black;
}

fieldset {
	position: relative;
	display: inline-block;
	padding: 0 0 0 40px;
	background: #fff;
	border: none;
	border-radius: 5px;
}

input, button {
	position: relative;
	width: 220px;
	height: 50px;
	padding: 0;
	display: inline-block;
	float: left;
}

input {
	color: #666;
	z-index: 2;
	border: 0 none;
}

input:focus {
	outline: 0 none;
}

input:focus+button {
	transform: translate(0, 0);
	transition-duration: 0.3s;
}

input:focus+button .fa {
	transform: translate(0px, 0);
	transition-duration: 0.3s;
	color: #fff;
}

button {
	z-index: 1;
	width: 50px;
	border: none;
	background: #ceb980;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	transform: translate(-50px, 0);
	transition-duration: 0.3s;
}

img {
	width: 80%;
	height: auto;
	justify-content: center;
}

.fa-search {
	font-size: 1.4rem;
	z-index: 3;
	top: 25%;
	transform: translate(-190px, 0);
	transition-duration: 0.3s;
	transition: all 0.1s ease-in-out;
}

#champList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

.champion-item {
	flex: 0 0 calc(33.33% - 20px);
	margin: 10px;
	text-align: center;
	box-sizing: border-box;
}

.champion-item img {
	max-width: 100%;
	height: auto;
}
h1{
	color: white;
	
}